<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="network.loki.lokinet.win32.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="false">
    <!-- for modern PCs without .NET 2.0 -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <userSettings>
    <network.loki.lokinet.win32.ui.Properties.Settings>
      <setting name="autoScroll" serializeAs="String">
        <value>True</value>
      </setting>
    </network.loki.lokinet.win32.ui.Properties.Settings>
  </userSettings>
</configuration>