*~
*\#*

*.a
*.o
*.plist
*.so

build/

llarpd
*.test
*.bin

*.ninja
cmake_install.cmake
CMakeFiles
CMakeCache.txt
.ninja_log
.ninja_deps

callgrind.*
.gdb_history

*.sig
*.signed
*.key

shadow.data
shadow.config.xml
*.log

testnet_tmp


*.pid
vsproject/

daemon.ini
lokinet-win32.exe
lokinet
lokinet.exe
rapidjson/


.gradle/
.idea
.vscode
