*~
*\#*

*.a
*.o
*.so
*.DS_Store

/build*/
**/__pycache__/**

llarpd
*.test
*.bin

*.ninja
cmake_install.cmake
CMakeFiles
CMakeCache.txt
.ninja_log
.ninja_deps
/.cache/
/compile_commands.json

callgrind.*
.gdb_history

*.sig
*.signed
!/contrib/bootstrap/mainnet.signed
!/contrib/bootstrap/testnet.signed
*.key

shadow.data
shadow.config.xml
*.log
*.pdf
*.xz

testnet_tmp


*.pid
vsproject/
.vs

daemon.ini


.gradle/
.idea
.vscode
build64/
build2/
/contrib/lokinet-bootstrap-winnt/cacert.pem
/contrib/lokinet-bootstrap-winnt/data.enc
/contrib/lokinet-bootstrap-winnt/out.bine
default.profraw

# ctags shit
GTAGS
GRTAGS
GPATH
version.txt

lokinet-bootstrap.exe
regdbhelper.dll
# xcode
xcuserdata/

