[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/ghc-filesystem"]
	path = external/ghc-filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "test/Catch2"]
	path = test/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "external/date"]
	path = external/date
	url = https://github.com/HowardHinnant/date.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
[submodule "external/clang-format-hooks"]
	path = external/clang-format-hooks
	url = https://github.com/barisione/clang-format-hooks/
[submodule "external/sqlite_orm"]
	path = external/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm
[submodule "external/oxen-mq"]
	path = external/oxen-mq
	url = https://github.com/oxen-io/oxen-mq
[submodule "external/uvw"]
	path = external/uvw
	url = https://github.com/jagerman/uvw.git
[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/whoshuu/cpr
[submodule "external/ngtcp2"]
	path = external/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
