[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/ghc-filesystem"]
	path = external/ghc-filesystem
	url = https://github.com/gulrak/filesystem.git
