[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "external/ghc-filesystem"]
	path = external/ghc-filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "test/Catch2"]
	path = test/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
[submodule "external/sqlite_orm"]
	path = external/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm
[submodule "external/oxen-mq"]
	path = external/oxen-mq
	url = https://github.com/oxen-io/oxen-mq
[submodule "external/uvw"]
	path = external/uvw
	url = https://github.com/jagerman/uvw.git
[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/whoshuu/cpr
[submodule "external/ngtcp2"]
	path = external/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
	branch = v0.1.0
[submodule "external/oxen-encoding"]
	path = external/oxen-encoding
	url = https://github.com/oxen-io/oxen-encoding.git
[submodule "external/oxen-logging"]
	path = external/oxen-logging
	url = https://github.com/oxen-io/oxen-logging.git
[submodule "gui"]
	path = gui
	url = https://github.com/oxen-io/lokinet-gui.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/ios-cmake"]
	path = external/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "external/libuv"]
	path = external/libuv
	url = https://github.com/libuv/libuv.git
