#!/bin/sh

. /etc/rc.subr

name=lokinet
rcvar=lokinet_enable

command="/usr/local/bin/${name}"
command_args="/usr/local/etc/${name}/daemon.ini > /dev/null 2>&1"

pidfile="/usr/local/etc/${name}/lokinet.pid"

required_files="/usr/local/etc/${name}/daemon.ini"

sig_reload="HUP"

start_precmd="${command} -g /usr/local/etc/${name}/daemon.ini"

load_rc_config $name
run_rc_command "$1"