Source: lokinet
Section: net
Priority: optional
Maintainer: Jeff Becker (probably not evil) <jeff@i2p.rocks>
Build-Depends: debhelper (>= 11), g++, cmake (>= 3.0), libcap-dev (>= 2.25), pkg-config, libuv1-dev, git, libcurl4-openssl-dev
Standards-Version: 3.9.6
Homepage: https://loki.network/
Vcs-Git: git://github.com/loki-project/lokinet-builder.git
Vcs-Browser: https://github.com/loki-project/lokinet-builder

Package: lokinet-bin
Architecture: any
Replaces: lokinet (<< 0.5.2-4~)
Breaks: lokinet (<< 0.5.2-4~)
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base, libcap2-bin, curl
Description: Lokinet anonymous, decentralized overlay network -- binaries
 Lokinet private, decentralized, market-based, Sybil resistant overlay network
 for the internet.
 .
 This package contains the lokinet binaries; most users will want to install
 the lokinet or lokinet-router packages to run lokinet as a system service.

Package: lokinet
Architecture: all
Pre-Depends: adduser
Depends: lokinet-bin (=${binary:Version})
Recommends: resolvconf
Description: Lokinet anonymous, decentralized overlay network - client service
 Lokinet private, decentralized, market-based, Sybil resistant overlay network
 for the internet.
 .
 This package contains contains the configuration needed to run lokinet as a
 system service to allow the local system to access lokinet either as an
 anonymous client or as a lokinet "snapp".
 .
 Most users looking to access lokinet want to install this package.

Package: lokinet-router
Architecture: all
Pre-Depends: adduser
Depends: lokinet-bin (=${binary:Version})
Description: Lokinet anonymous, decentralized overlay network - client service
 Lokinet private, decentralized, market-based, Sybil resistant overlay network
 for the internet.
 .
 This package contains contains the configuration needed to run a lokinet
 router as a system service.
 .
 Users just looking to access lokinet want the 'lokinet' package instead.
