Source: lokinet
Section: net
Priority: optional
Maintainer: Jeff Becker (probably not evil) <jeff@i2p.rocks>
Build-Depends: debhelper (>= 11), g++, ninja-build, cmake (>= 3.10), pkg-config, libuv1-dev, git, libunbound-dev,
    libsodium-dev (>= 1.0.18), libsystemd-dev, liboxenmq-dev (>= 1.2.5), libsqlite3-dev, nettle-dev, libevent-dev,
    libcurl4-openssl-dev, libssl-dev, libjemalloc-dev
Standards-Version: 3.9.6
Homepage: https://lokinet.org/
Vcs-Git: git://github.com/oxen-io/loki-network.git
Vcs-Browser: https://github.com/oxen-io/loki-network

Package: lokinet-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base
Description: Lokinet anonymous, decentralized overlay network -- binaries
 Lokinet private, decentralized, market-based, Sybil resistant overlay network
 for the internet.
 .
 This package contains the lokinet binaries; most users will want to install
 the lokinet or lokinet-router packages to run lokinet as a system service.

Package: lokinet
Architecture: all
Depends: lokinet-bin (=${binary:Version}), adduser, ucf
Recommends: resolvconf
Description: Lokinet anonymous, decentralized overlay network - client service
 Lokinet private, decentralized, market-based, Sybil resistant overlay network
 for the internet.
 .
 This package contains contains the configuration needed to run lokinet as a
 system service to allow the local system to access lokinet either as an
 anonymous client or as a lokinet "snapp".
 .
 Most users looking to access lokinet want to install this package.

Package: lokinet-router
Architecture: all
Depends: lokinet-bin (=${binary:Version}), oxend, adduser, ucf
Description: Lokinet anonymous, decentralized overlay network - client service
 Lokinet private, decentralized, market-based, Sybil resistant overlay network
 for the internet.
 .
 This package contains contains the configuration needed to run a lokinet
 router as a system service.
 .
 Users just looking to access lokinet want the 'lokinet' package instead.

Package: lokinetmon
Architecture: all
Depends: python3, python3-zmq
Recommends: lokinet | lokinet-router
Description: Console-based Lokinet monitor
 This package provides lokinetmon, a Python-based tool for monitoring a running
 Lokinet process.
