[Unit]
Description=LokiNET VPN tunnel: shove all traffic over lokinet
Wants=lokinet.service
After=lokinet.service

[Service]
Type=oneshot
ExecStart=/usr/bin/lokinet-vpn --up
ExecStop=/usr/bin/lokinet-vpn --down
RemainAfterExit=true

[Install]
WantedBy=multi-user.target