[Unit]
Description=LokiNET: Anonymous Network layer thingydoo, router
Wants=network-online.target
After=network-online.target

[Service]
User=_lokinet
Type=notify
WatchdogSec=30s
SyslogIdentifier=lokinet-router
WorkingDirectory=/var/lib/lokinet/router
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/lokinet -r /var/lib/lokinet/router/lokinet.ini
Environment=LOKINET_NETID=lokinet
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
