[Unit]
Description=LokiNET: Anonymous Network layer thingydoo.
Wants=network.target
After=network.target

[Service]
User=debian-lokinet
SyslogIdentifier=lokinet
ExecStartPre=/usr/bin/lokinet-bootstrap && /usr/bin/lokinet -g
ExecStart=/usr/bin/lokinet
Restart=always

[Install]
WantedBy=multi-user.target