[Unit]
Description=LokiNET: Anonymous Network layer thingydoo.
Wants=network-online.target
After=network-online.target

[Service]
User=debian-lokinet
SyslogIdentifier=lokinet
ExecStartPre=/bin/bash -c "/usr/bin/lokinet-bootstrap && /usr/bin/lokinet -g"
ExecStart=/usr/bin/lokinet
Restart=always

[Install]
WantedBy=multi-user.target