[Unit]
Description=LokiNET: Anonymous Network layer thingydoo, client (testnet)
Wants=network-online.target
After=network-online.target

[Service]
User=_lokinet
Type=notify
WatchdogSec=30s
SyslogIdentifier=lokinet
WorkingDirectory=/var/lib/lokinet/testnet
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/lokinet /var/lib/lokinet/testnet/lokinet.ini
ExecStartPost=+/usr/sbin/lokinet-resolvconf add /var/lib/lokinet/testnet/lokinet.ini
ExecStopPost=+/usr/sbin/lokinet-resolvconf remove /var/lib/lokinet/testnet/lokinet.ini
Environment=LOKINET_NETID=gamma
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
