[Unit]
Description=LokiNET: Anonymous Network layer thingydoo, client
Wants=network-online.target
After=network-online.target

[Service]
User=_lokinet
SyslogIdentifier=lokinet-client
WorkingDirectory=/var/lib/lokinet/client
AssertFileNotEmpty=/var/lib/lokinet/bootstrap.signed
ExecStart=/usr/bin/lokinet /var/lib/lokinet/client/lokinet.ini
ExecStartPost=+/usr/sbin/lokinet-resolvconf add /var/lib/lokinet/client/lokinet.ini
ExecStopPost=+/usr/sbin/lokinet-resolvconf remove /var/lib/lokinet/client/lokinet.ini
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
