[Unit]
Description=LokiNET: Anonymous Network layer thingydoo, client
Wants=network-online.target
After=network-online.target

[Service]
User=_lokinet
SyslogIdentifier=lokinet
WorkingDirectory=/var/lib/lokinet
AssertFileNotEmpty=/var/lib/lokinet/bootstrap.signed
ExecStart=/usr/bin/lokinet /var/lib/lokinet/lokinet.ini
ExecStartPost=+/usr/sbin/lokinet-resolvconf add /var/lib/lokinet/lokinet.ini
ExecStopPost=+/usr/sbin/lokinet-resolvconf remove /var/lib/lokinet/lokinet.ini
Environment=LOKINET_NETID=gamma
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
