<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>network.loki.lokinet.daemon</string>

	<key>ProgramArguments</key>
	<array>
		<string>/var/lib/lokinet/lokinet_macos_daemon_script.sh</string>
	</array>

	<!-- Keep Lokinet alive unless magic file exists -->
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/var/lib/lokinet/suspend-launchd-service</key>
			<false/>
		</dict>
	</dict>

  <!-- acursed things to watch if the gui is deleted to uninstall lokinet -->
  <key>WatchPaths</key>
  <array>
    <string>~/.Trash/LokinetGUI.app</string>
  </array>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/lokinet/bin/lokinet_uninstall.sh</string>
  </array>

	<key>StandardOutPath</key>
  <string>/var/lib/lokinet/stdout</string>
  
  <key>StandardErrorPath</key>
  <string>/var/lib/lokinet/stderr</string>
</dict>
</plist>
