<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>network.loki.lokinet.daemon</string>

        <key>ProgramArguments</key>
        <array>
        <string>/usr/local/bin/lokinet</string>
        <string>/var/lib/lokinet/lokinet.ini</string>
        </array>
        <key>KeepAlive</key>
        <true/>

        <key>StandardOutPath</key>
        <string>/var/log/lokinet/stdout.log</string>

        <key>StandardErrorPath</key>
        <string>/var/log/lokinet/stderr.log</string>
</dict>
</plist>
